header{
    background-color: lightsalmon;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1 {
    color: white;
    border: 8px solid greenyellow;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 20px;
}
.banner {
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome{
    background-color:lightcoral;
    position: absolute;
    left: 0;
    top: 30%;
    color: white;
    padding: 30px;
}
.banner h2 {
    font-size: 50px;
}
.banner h2 span {
    font-size: 1.3em;
}
nav {
    background-color: lightblue;
}
nav ul {
    white-space: nowrap;
}
nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2 {
    color: red;
    font-size: 40px;
}
article p {
    line-height: 2em;
    color: rgb(170, 11, 11);
}
.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    margin: 20px 5%;
}
.images li img {
    max-width: 300px;
}
section.join {
    background-color: lightgreen;
    text-align: center;
    padding: 60px 20px;
    color: blue;
    }
.join h2 {
    font-size: 36px;
}
form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid grey;
}
footer {
    background-color: red;
    color: white;
    padding: 10px ;
    text-align: center;
}
/*pseudo classes */
nav li a :hover {
    text-decoration:underline;
    background-color: teal;
    padding: 3px;}
.images li:hover {
    position: relative;
    top: -4px;
}
form input:focus {
    border: 4px dashed blueviolet;
    outline: none;
}
form input:valid {
    border: 2px solid green;
}
nav li:first-child {
    border: 2px solid gray;
}
article p::first-line {
    font-size: 10px;
    font-weight: bold;
}
section.join p::first-letter {
    color: red;
    font-size: 2em;
}
section.join p::selection {
    background-color: yellow;
}
p::after {
    content: '...'
}
/*responsive styles */
@media screen and (max-width:1400px){
    .banner .welcome h2{
        font-size: 60px;
    }
nav li {
    font-size: 18px;
}
}
@media screen and (max-width:960px){
    .banner .welcome h2{
        font-size: 40px;
    }
}
@media screen and (max-width:700px){
    .banner .welcome {
        position: relative;
        text-align: center;
        padding: 10px;
    }
.banner .welcome br {
    display: none;
}
.banner .welcome h2 {
    font-size: 25px;
}
.banner .welcome span {
    font-size: 1em;
}
.images li {
    width: 100%;
    margin: 20px auto;
    display: block;
}
}
@media screen and (max-width:1400px){
    nav li {
        font-size: 20px;
        display: block;
        width: 100%; 
        margin: 12px 0;
    }
header {
    position: relative;
}
nav {
    top: 0;
}
}